/*google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*general styles for page*/
body {
    font-family: "roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: #f0faff;
    background-color: rgb(20, 20, 20);
}

/*container styling*/
.container {
    background-image: url(../images/french-skyline-darken.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
}

#logo-container {
    text-align: center;
    margin-bottom: -15px;
}

#logo-image {
    height: 70px;
    width: 70px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*title area styling*/
.title-area {
    background-color: rgb(59, 59, 59);
    text-align: center;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 0;
    letter-spacing: 2px;
    min-width: 375px;
}

.title-area h1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*info styling*/
.info {
    background-color: rgb(59, 59, 59);
    text-align: left;
    font-size: larger;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

}

.info-paragraph-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.info-paragraph-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*buttons styling - color to be removed*/
.buttons {
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.play-button {
    background-color: red;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f0faff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.play-button:hover {
    transition-delay: 30ms;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9);
}

/*catagories page styling*/

.catagories, .game {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    max-width: 400px;
    padding-left: 25px;
    justify-content: center;
}

.catagory-box, .game-box {
    background-color: rgb(59, 59, 59);
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5%;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    width: 150px;
    height: 30px;
}

.catagory-box a {
    text-decoration: none;
    color: #f0faff;
    font-size: larger;
}

.game-box {
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: -20px;
}

.selected {
    background-color: rgb(39, 39, 39);

}

.selected-french {
    background-color: rgb(39, 39, 39);
}
